.logo2{
    margin: 188px 700px 0px;

}

.barber2{
    margin: -50px 770px 0px;
    color: #99BAED;
}

.footer-paragraph{
    width: 350px;
    height: 76px;
    margin: 36px 600px 0px;
}

.footer-social{
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: 47px 0px 0px 620px;
}