.section-container{
    margin: 162px 0px 0px 162px;
}

.barber-container{
    display: flex;
}




.section-h1 {
    width: 576px;
    height: 300px;
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;

}


.section-p {
    margin-top: 29px;
    width: 526px;
    height: 114px;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.03em;
    text-align: left;

}

.sect-btn{
    margin-top: 97px;
    margin-left: 0px;
}   

.barber{
    margin: 71px 0px 0px 24px;
}